body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:black;
}
.nav-link,
.navbar-brand {
    color: white;
    cursor: pointer;
    position: relative;
}
.navbar-brand::before{
    left: 2px;
    text-shadow: -1px 0 pink;
    background: black;
}
.navbar-brand::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  height: 100%;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: gray;
}
.navbar-collapse {
    justify-content: flex-end;
}
.header {
    background-image: url('../img/split.gif');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    padding:0;
    margin:0;
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
}
.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #fff;
    font-family: helvetica;
}
.description h4 {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
    font-family: helvetica;
}
.description button {
    border:1px solid black;
    background:white;
    border-radius: 0;
    color:black;
}
.description button:hover {
	border:1px solid #fff;
    background:#fff;
    color:#000;
}
